html {
  font-size: 10px;
  background: url(http://i.imgur.com/b9r5sEL.jpg) bottom center;
  background-size: cover;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow:hidden;
  height:100%;
  color: white;
}

.keys {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  
}

.key  {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  margin-top: -400px;
  font-size: 1.5rem;
  padding: .5rem .25rem;
  transition: all .07s ease;
  width: 5rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
   -webkit-animation: fallingLeaves 10s infinite  linear;
  -moz-animation: fallingLeaves 10s infinite  linear; 
  
}

.key2  {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  margin-top: -400px;
  font-size: 1.5rem;
  padding: .5rem .25rem;
  transition: all .07s ease;
  width: 5rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
   -webkit-animation: fallingLeaves 6s infinite  linear;
  -moz-animation: fallingLeaves 6s infinite  linear; 
  
}
.key3  {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  margin-top: -400px;
  font-size: 1.5rem;
  padding: .5rem .25rem;
  transition: all .07s ease;
  width: 5rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
   -webkit-animation: fallingLeaves 3s infinite  linear;
  -moz-animation: fallingLeaves 3s infinite  linear; 
  
}
.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
 
  

}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}


   
    div:nth-child(5n+5) {

    -webkit-animation-delay: 1.3s;
    -moz-animation-delay: 1.3s;
}
 div:nth-child(3n+2) {

    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
}
 div:nth-child(2n+5) {

    -webkit-animation-delay: 1.7s;
    -moz-animation-delay: 1.7s;
}
 div:nth-child(3n+10) {

    -webkit-animation-delay: 2.7s;
    -moz-animation-delay: 2.7s;
}
 div:nth-child(7n+2) {

    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;
} div:nth-child(4n+5) {

    -webkit-animation-delay: 5.5s;
    -moz-animation-delay: 5.5s;
}
 div:nth-child(3n+7) {

    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
}
@-webkit-keyframes fallingLeaves {
  
  0%  {  
  -webkit-transform: translate(0, 0px) rotateZ(0deg);  
  
  }
  75% {
  -webkit-transform: translate(100px, 600px) rotateZ(270deg); 
  
 
  }
  100% {
  -webkit-transform: translate(150px, 800px) rotateZ(360deg);
  
  }
}
@-moz-keyframes fallingLeaves {
  0% {
  -webkit-transform: translate(0, 0px) rotateZ(0deg);
  
  }
  75% {
  -webkit-transform: translate(100px, 600px) rotateZ(270deg); 

  }
  100% {
  -webkit-transform: translate(150px, 800px) rotateZ(360deg);
 
  }
} 

.circle {
  width: 100px;
  height: 100px;
  border: solid 3px black;
  border-radius: 100%;
  float: left;
  margin: 1%;
}


.effect {
  background-color: green;
  border-color: blue;
}