html {
  font-size: 10px;
  background: url(https://s-media-cache-ak0.pinimg.com/originals/5b/63/b5/5b63b58ad5ccf56cc03dd4dd14fe1a95.jpg) bottom center;
  background-size: cover;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;  overflow:hidden;
  height:100%;
  color: black;
}

.keys {
  display: block;
  margin-top: -200px;
  margin-left: 50px !important;
  width: 80%;
  
}

.key  {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  display: inline-block;
  margin-top: -600px !important;
  font-size: 1.5rem;
  padding: .5rem .25rem;
  transition: all .07s ease;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}


.key1  {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  margin-top: -600px !important;
  font-size: 1.5rem;
  padding: .5rem .25rem;
  transition: all .07s ease;
  width: 5rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
   -webkit-animation: fallingKeys 12s infinite linear;
  -moz-animation: fallingKeys 12s infinite linear; 
  
}
.key2  {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  margin-top: -600px !important;
  font-size: 1.5rem;
  padding: .5rem .25rem;
  transition: all .07s ease;
  width: 5rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
   -webkit-animation: fallingKeys 6s infinite  linear;
  -moz-animation: fallingKeys 6s infinite  linear; 
  
}
.key3  {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  margin-top: -600px !important;
  font-size: 1.5rem;
  padding: .5rem .25rem;
  transition: all .07s ease;
  width: 5rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
   -webkit-animation: fallingKeys 3s infinite  linear;
  -moz-animation: fallingKeys 3s infinite  linear; 
  
}
.playing {
  transform: scale(1.1);
  border-color: #00ffff;
  box-shadow: 0 0 1rem#00ffff;
}


kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 8.5px;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #00ffff;
}


 div:nth-child(5n+5) {

    -webkit-animation-delay: 1.3s;
    -moz-animation-delay: 1.3s;
}
 div:nth-child(3n+2) {

    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
}
 div:nth-child(2n+5) {

    -webkit-animation-delay: 1.7s;
    -moz-animation-delay: 1.7s;
}
 div:nth-child(3n+10) {

    -webkit-animation-delay: 2.7s;
    -moz-animation-delay: 2.7s;
}
 div:nth-child(7n+2) {

    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;
} div:nth-child(4n+5) {

    -webkit-animation-delay: 5.5s;
    -moz-animation-delay: 5.5s;
}
 div:nth-child(3n+7) {

    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
}
@-webkit-keyframes fallingKeys {
  
  0%  {  
  -webkit-transform: translate(200px, 0px) ;  
  
  }
  75% {
  -webkit-transform: translate(200px, 1500px); 
  
 
  }
  100% {
  -webkit-transform: translate(200px, 1500px)  ;
  
  }
}
@-moz-keyframes fallingKeys {
  0% {
  -webkit-transform: translate(200px, 0px) ;
  
  }
  75% {
  -webkit-transform: translate(200px, 1500px) ; 

  }
  100% {
  -webkit-transform: translate(200px, 1500px) ;
 
  }
} 


button{
  color: black;
  background-color: #00a2ff55;
  display: block !important;
  text-align: center;
  margin-bottom: 10px;
  padding: 5px;
  width: 90px;
  height: 50px;
 font-size: 15px;
 font-family: 'Montserrat', sans-serif;
 position: relative;
  margin-left:auto;
  margin-right:auto 130px;
 
}

.start:hover{
  background-color: cyan;
}
 .swal-button:hover {
 transform: scale(1.1,1.1);
 }
.textSection{
  display: block;
  border:1px solid rgba(128, 128, 128, 0.24);
  background-color: rgba(128, 128, 128, 0.24);
  box-shadow: 2.5px 1.25px 1.25px rgba(211, 211, 211, 0.329);
  margin-left: 10px;
  margin-left:auto;
  margin-right:auto;
  float: left;
  margin-top: 150px;
  text-align: right;
  padding: 3rem;
  position: relative;
}

h5{
  font-size: 50px;
}
